                  /* OVERALL LAYOUT */
/* Layout IDs */
#header{position:relative;}
#sitetitle{float:left;margin:30px 0 10px 30px;font-size:40px;color:#777;margin:0;padding:0;}
#banner{height:300px;margin:0;padding:0;}
#nav{float:right;font-family:'Droid Sans',Verdana,Tahoma,sans-serif;text-align:center;color:#797777;display:block;font-size:12px;padding-top:0;text-transform:uppercase;}
#content{padding:15px 30px;background-color:#fafafa;}
#footer{clear:both;background-color:#fafafa;color:#777;font-size:12px;margin:0;padding:15px 30px;text-align:center;}

               /* APPEARNACE OF CONTENT */
/* HTML elements */
body{background-color:#f2f2f2;color:#666;font-family:'Droid Sans',Tahoma,Arial,sans-serif;font-size:13px;line-height:1.6em;}
a{color:#a54569;text-decoration:none;}
a:hover{color:#333;text-decoration:none;}
a img{border:none;}
h1,h2,h3,h4{clear:left;color:#5c5a5a;font-weight:400;margin:0.7em 0;font-family:'Yanone Kaffeesatz';}
h1{font-size:2.6em;}
h2{font-size:2.4em;}
h3{font-size:1.9em;}
p,ul{margin:0 0 0 0;}
i,em {font-style:italic;}
b,strong {font-weight:700; font-size:medium;}

                  /* ALIGNMENT OF IMAGES IN CONTENT */
/* Image alignment */
img.alignleft,img.aligncenter,img.alignright{background:#fff;padding:4px;margin-bottom:10px;border:1px solid #ddd;}
.alignleft{float:left;margin-right:30px;}
.alignright{float:right;margin-left:30px;}
.aligncenter{text-align:center;display:block;clear:both;margin:5px auto;}
