                  /* OVERALL LAYOUT */
/* Layout IDs */
#container {position: relative; background-color: white;}
#header{position:relative;}
#title{float:left;margin:30px 0 10px 30px;font-size:40px;color:#777;margin:0;padding:0;}
#banner{height:300px;}
#navbar{float:right;font-family:Arial;text-align:center; color:#797777;display:block;font-size:12px;text-transform:uppercase;}
#content{padding:15px 30px;}
#footer{clear:both;background-color:#fafafa;color:#777;font-size:12px;margin:0;padding:15px 30px;text-align:center;}

               /* APPEARNACE OF CONTENT */
/* HTML elements */
body{background-color:#fafafa; font-family:Arial;font-size:13px;line-height:1.6em;color:#666;text-align:justify;}
h1{font-size:2.6em;}
h2{font-size:2.4em;}

            /* ALIGNMENT OF IMAGES IN CONTENT */
/* Image alignment */
img.alignleft,img.aligncenter,img.alignright{background:#fff;padding:4px;margin-bottom:10px;border:1px solid #ddd;}
.alignleft{float:left;margin-right:30px;}
.alignright{float:right;margin-left:30px;}
.aligncenter{text-align:center;display:block;clear:both;margin:5px auto;}
